.left-panel
{
    width: 650px;
    display:inline-block;
}

.right-panel
{
    width:240px;
    display:inline-block;
    vertical-align:top;
}

/* Slider styles
******************************************************/
#slider-image
{
    width: 650px;
    height: 240px;
}

/* Text over slider
******************************************************/

.welcome-text, .make-a-booking
{
    position: absolute;
    z-index: 1;
}
.welcome-text
{   
    margin: 18px 22px;
    width: 450px;
    line-height: 1.3;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(/content/img/dracula/welcome-screen-back.png);
    padding: 8px!important;
    color: white;
}
.welcome-text h2
{
    border-bottom-color: #490505;
}

/* Make a booking red button
******************************************************/

.make-a-booking
{
    margin-top: 184px;
    padding: 4px 7px;
    font-size: 20px;
    margin-left: 21px;
    border: 1px solid #910505;
    border-radius: 2px;
    
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
    
    padding-right: 40px;
    overflow: hidden;
    cursor:pointer;
}
.make-a-booking:hover
{
    padding: 4px 39px 4px 6px;
    margin-left: 22px;
    background: #FA3131;
}

.make-a-booking:active
{
    padding: 4px 38px 4px 5px;
    margin-left: 23px;
    background: #C51B1B;
}

.make-a-booking-arrow
{
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 33px;
    position: absolute;
    background-image: url(/content/img/dracula/arrow-external-link.png);
    margin-left: 149px;
    margin-top: -4px;
    border-left: 1px solid #910505;
}

/* .first-div
******************************************************/

.first-div .left-side, .first-div .right-side
{
    display:inline-block;
    vertical-align:top;
}

.first-div h2
{
    padding:0;
    border:0;
}

.first-div .left-side
{
    width:200px;
}

.first-div .right-side
{
    width:445px;
}

.first-div .right-side img
{
    width: 149px;
    margin-left: -4px;
}


/* .second-div
******************************************************/
.second-div
{
    background: #ACA8A8;
    height:35px;
    margin-top: -3px;
}
.read-to-expect-more
{
    background: black;
    color: white;
    font-size: 25px;
    padding: 3px 10px;
    position: absolute;
    display: block;
    font-family: Andada;
}
.right-arrow
{
    display: block;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(/content/img/dracula/expect-more.png);
    width: 20px;
    height: 23px;
    margin-left: 257px;
    margin-top: 7px;
    position: absolute
}

.expect-more-links
{
    margin-left: 303px;
    position: absolute;
    margin-top: 9px;
}

.expect-more-links a
{
    padding: 9px 15px;
    border-right: 1px solid #AA5F5F;
}

/* .third-div
******************************************************/
.third-div
{
}
.third-div .left-side, .third-div .right-side
{
}

.third-div .left-side
{
    font-family: Andada;
    color: #BE1D1D;
    font-size: 25px;
    padding: 5px;
}

.third-div .right-side
{
}

.third-div .right-side img
{
    width: 214px;
    height: 115px;
    margin-left: -4px;
}

.third-div .right-side .upper-DIV
{
    display:inline-block;
}

/* why use us?
******************************************************/

.why-use-us, .booking-right-panel
{
    border: 1px solid #B1B1B1;
    margin: 12px;
    border-radius: 3px;
}

.why-use-us h2, .booking-right-panel h2
{
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}
.why-use-us div
{
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(/content/img/dracula/roshan-balb.png);
    padding: 10px 20px;
    padding-left: 30px;
    border-bottom: 1px solid #CACACA;
}
.why-use-us div:last-child
{
    border-bottom:0;
}
.why-use-us h2
{
    border-bottom: 1px solid #CACACA;
}

/* Booking Right Panel
******************************************************/
.booking-right-panel
{
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(/content/img/backgrounds/booking-right-panel.png);
    background-color: #A8F7E7;
}
.booking-right-panel h2
{
    font-size: 20px;
}
.booking-right-panel div
{
    padding:5px 10px;
}

.booking-right-panel .blue-button
{
    margin: 6px;
    padding: 2px 17px;
    background: #00EBFF;
}