@model CabDataContext
@{
    ViewBag.Title = "Change Password";

    Client client = ViewBag.Client;
}

@if (client != null)
{
    @Html.AntiForgeryToken()

    <div class="login-section" style="display: block; margin: 50px 240px; position: absolute;">
        <h2 style="border-radius: 50px;">Change your password:</h2>
        <div>
            <label for="old-password">
                Old Password</label>
            <input id="old-password" type="text">
        </div>
        <div>
            <label for="new-password">
                New Password</label>
            <input id="new-password" type="text">
        </div>

        <div id="change-password" class="blue-button signup-button" style="margin: 13px; margin-left: 185px;">Change Password</div>
    </div>

    <script>
        $('#password').focus();
        $('#change-password').click(function () {
            var elem = getEmptyElement('old-password, new-password');
            if (elem !== true) return;

            $.post('/Client/ChangePassword', {
                    token: '@client.ForgotPasswordToken',
                    password: $('#new-password').val(),
                    oldPassword: $('#old-password').val(),
                    mustCheckOld: true,
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val()
                },
                function(response) {
                    if (response == true) {
                        loadSpinner('html');
                        alert('Hi @client.Name,\n\nYour password has been changed successfully.!');
                        window.location = '/client/';
                    } else alert('Please make sure you entered valid old password.');
                });
        });
    </script>
}