@model CabDataContext
@{
    ViewBag.Title = "Change Password";

    string token = ViewBag.Token;
    var client = Model.Clients.FirstOrDefault(c => c.ForgotPasswordToken == token);
}

@if (client != null)
{
    @Html.AntiForgeryToken()

    <div class="login-section" style="display: block; margin: 50px 240px; position: absolute;">
        <h2 style="border-radius: 50px;">Change your password:</h2>
        <div>
            <label for="password">
                Password</label>
            <input id="password" type="text">
        </div>

        <div id="change-password" class="blue-button signup-button" style="margin: 13px; margin-left: 185px;">Change Password</div>
    </div>

    <script>
        $('#password').focus();
        $('#change-password').click(function () {
            var elem = getEmptyElement('password');
            if (elem !== true) return;

            $.post('/Client/ChangePassword', { token: '@token', password: $('#password').val(), __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val() },
                function(response) {
                    if (response == true) {
                        loadSpinner('html');
                        alert('Hi @client.Name,\n\nYour password has been changed successfully.\n\nPlease Login Now!');
                        window.location = '/logout';
                    } else alert('Something went wrong.\n\nPlease refresh the page and try again.');
                });
        });
    </script>
}
else
{
    <h2>Please goto <a href="/forgot-password.html">Forgot Password</a> page and re-enter your email.</h2>
}