@{
    Layout = null;
}

<option>1 (Canada)</option>
<option>1 (United States)</option>
<option>1 242 (Bahamas)</option>
<option>1 246 (Barbados)</option>
<option>1 264 (Anguilla)</option>
<option>1 268 (Antigua and Barbuda)</option>
<option>1 284 (British Virgin Islands)</option>
<option>1 340 (United States Virgin Islands)</option>
<option>1 345 (Cayman Islands)</option>
<option>1 441 (Bermuda)</option>
<option>1 473 (Grenada)</option>
<option>1 649 (Turks and Caicos)</option>
<option>1 664 (Montserrat)</option>
<option>1 670 (Northern Mariana Islands)</option>
<option>1 671 (Guam)</option>
<option>1 684 (American Samoa)</option>
<option>1 721 (Sint Maarten (Dutch part))</option>
<option>1 758 (Saint Lucia)</option>
<option>1 767 (Dominica)</option>
<option>1 784 (Saint Vincent and the Grenadines)</option>
<option>1 787 (Puerto Rico)</option>
<option>1 939 (Puerto Rico)</option>
<option>1 809 (Dominican Rep.)</option>
<option>1 829 (Dominican Rep.)</option>
<option>1 849 (Dominican Rep.)</option>
<option>1 868 (Trinidad and Tobago)</option>
<option>1 869 (Saint Kitts and Nevis)</option>
<option>1 876 (Jamaica)</option>
<option>20 (Egypt)</option>
<option>211 (South Sudan)</option>
<option>212 (Morocco)</option>
<option>213 (Algeria)</option>
<option>216 (Tunisia)</option>
<option>218 (Libya)</option>
<option>220 (Gambia)</option>
<option>221 (Senegal)</option>
<option>222 (Mauritania)</option>
<option>223 (Mali)</option>
<option>224 (Guinea)</option>
<option>225 (Côte d'Ivoire)</option>
<option>226 (Burkina Faso)</option>
<option>227 (Niger)</option>
<option>228 (Togo)</option>
<option>229 (Benin)</option>
<option>230 (Mauritius)</option>
<option>231 (Liberia)</option>
<option>232 (Sierra Leone)</option>
<option>233 (Ghana)</option>
<option>234 (Nigeria)</option>
<option>235 (Chad)</option>
<option>236 (Central African Rep.)</option>
<option>237 (Cameroon)</option>
<option>238 (Cape Verde)</option>
<option>239 (Sao Tome and Principe)</option>
<option>240 (Equatorial Guinea)</option>
<option>241 (Gabon)</option>
<option>242 (Congo (Rep. of the))</option>
<option>243 (Dem. Rep. of the Congo)</option>
<option>244 (Angola)</option>
<option>245 (Guinea-Bissau)</option>
<option>246 (Diego Garcia)</option>
<option>248 (Seychelles)</option>
<option>249 (Sudan)</option>
<option>250 (Rwanda)</option>
<option>251 (Ethiopia)</option>
<option>252 (Somalia)</option>
<option>253 (Djibouti)</option>
<option>254 (Kenya)</option>
<option>255 (Tanzania)</option>
<option>256 (Uganda)</option>
<option>257 (Burundi)</option>
<option>258 (Mozambique)</option>
<option>260 (Zambia)</option>
<option>261 (Madagascar)</option>
<option>262 (French Departments and Territories in the Indian Ocean)</option>
<option>263 (Zimbabwe)</option>
<option>264 (Namibia)</option>
<option>265 (Malawi)</option>
<option>266 (Lesotho)</option>
<option>267 (Botswana)</option>
<option>268 (Swaziland)</option>
<option>269 (Comoros)</option>
<option>27 (South Africa)</option>
<option>290 (Saint Helena, Ascension and Tristan da Cunha)</option>
<option>247 (Saint Helena, Ascension and Tristan da Cunha)</option>
<option>291 (Eritrea)</option>
<option>297 (Aruba)</option>
<option>298 (Faroe Islands)</option>
<option>299 (Greenland)</option>
<option>30 (Greece)</option>
<option>31 (Netherlands)</option>
<option>32 (Belgium)</option>
<option>33 (France)</option>
<option>34 (Spain)</option>
<option>350 (Gibraltar)</option>
<option>351 (Portugal)</option>
<option>352 (Luxembourg)</option>
<option>353 (Ireland)</option>
<option>354 (Iceland)</option>
<option>355 (Albania)</option>
<option>356 (Malta)</option>
<option>357 (Cyprus)</option>
<option>358 (Finland)</option>
<option>359 (Bulgaria)</option>
<option>36 (Hungary)</option>
<option>370 (Lithuania)</option>
<option>371 (Latvia)</option>
<option>372 (Estonia)</option>
<option>373 (Moldova)</option>
<option>374 (Armenia)</option>
<option>375 (Belarus)</option>
<option>376 (Andorra)</option>
<option>377 (Monaco)</option>
<option>378 (San Marino)</option>
<option>380 (Ukraine)</option>
<option>381 (Serbia)</option>
<option>382 (Montenegro)</option>
<option>385 (Croatia)</option>
<option>386 (Slovenia)</option>
<option>387 (Bosnia and Herzegovina)</option>
<option>389 (The Former Yugoslav Rep. of Macedonia)</option>
<option>39 (Italy)</option>
<option>40 (Romania)</option>
<option>41 (Switzerland)</option>
<option>420 (Czech Rep.)</option>
<option>421 (Slovakia)</option>
<option>423 (Liechtenstein)</option>
<option>43 (Austria)</option>
<option selected>44 (United Kingdom)</option>
<option>45 (Denmark)</option>
<option>46 (Sweden)</option>
<option>47 (Norway)</option>
<option>48 (Poland)</option>
<option>49 (Germany)</option>
<option>500 (Falkland Islands (Malvinas))</option>
<option>501 (Belize)</option>
<option>502 (Guatemala)</option>
<option>503 (El Salvador)</option>
<option>504 (Honduras)</option>
<option>505 (Nicaragua)</option>
<option>506 (Costa Rica)</option>
<option>507 (Panama)</option>
<option>508 (Saint Pierre and Miquelon)</option>
<option>509 (Haiti)</option>
<option>51 (Peru)</option>
<option>52 (Mexico)</option>
<option>53 (Cuba)</option>
<option>54 (Argentina)</option>
<option>55 (Brazil)</option>
<option>56 (Chile)</option>
<option>57 (Colombia)</option>
<option>58 (Venezuela)</option>
<option>590 (Guadeloupe)</option>
<option>591 (Bolivia)</option>
<option>592 (Guyana)</option>
<option>593 (Ecuador)</option>
<option>594 (French Guiana)</option>
<option>595 (Paraguay)</option>
<option>596 (Martinique)</option>
<option>597 (Suriname)</option>
<option>598 (Uruguay)</option>
<option>599 (Bonaire, Sint Eustatius and Saba)</option>
<option>599 (Curaçao)</option>
<option>60 (Malaysia)</option>
<option>61 (Australia)</option>
<option>62 (Indonesia)</option>
<option>63 (Philippines)</option>
<option>64 (New Zealand)</option>
<option>65 (Singapore)</option>
<option>66 (Thailand)</option>
<option>670 (Timor-Leste)</option>
<option>672 (Norfolk Island)</option>
<option>673 (Brunei Darussalam)</option>
<option>674 (Nauru)</option>
<option>675 (Papua New Guinea)</option>
<option>676 (Tonga)</option>
<option>677 (Solomon Islands)</option>
<option>678 (Vanuatu)</option>
<option>679 (Fiji)</option>
<option>680 (Palau)</option>
<option>681 (Wallis and Futuna)</option>
<option>682 (Cook Islands)</option>
<option>683 (Niue)</option>
<option>685 (Samoa)</option>
<option>686 (Kiribati)</option>
<option>687 (New Caledonia)</option>
<option>688 (Tuvalu)</option>
<option>689 (French Polynesia)</option>
<option>690 (Tokelau)</option>
<option>691 (Micronesia)</option>
<option>692 (Marshall Islands)</option>
<option>7 (Kazakhstan)</option>
<option>7 (Russian Federation)</option>
<option>81 (Japan)</option>
<option>82 (Korea (Rep. of))</option>
<option>84 (Viet Nam)</option>
<option>850 (Dem. People's Rep. of Korea)</option>
<option>852 (Hong Kong, China)</option>
<option>853 (Macao, China)</option>
<option>855 (Cambodia)</option>
<option>856 (Lao P.D.R.)</option>
<option>86 (China)</option>
<option>870 (Inmarsat)</option>
<option>878 10 (VISIONng)</option>
<option>880 (Bangladesh)</option>
<option>881 6 (Iridium)</option>
<option>881 7 (Iridium)</option>
<option>881 8 (Globalstar Inc.)</option>
<option>881 9 (Globalstar Inc.)</option>
<option>882 13 (Telespazio S.p.A.)</option>
<option>882 16 (Thuraya)</option>
<option>882 32 (Maritime Communications Partner (MCP))</option>
<option>882 33 (Oration Technologies)</option>
<option>882 34 (BebbiCell AG)</option>
<option>883 5100 (Voxbone SA)</option>
<option>883 5110 (Bandwidth.com, Inc.)</option>
<option>886 (Taiwan, China)</option>
<option>888 (United Nations- OCHA)</option>
<option>90 (Turkey)</option>
<option>91 (India)</option>
<option>92 (Pakistan)</option>
<option>93 (Afghanistan)</option>
<option>94 (Sri Lanka)</option>
<option>95 (Myanmar)</option>
<option>960 (Maldives)</option>
<option>961 (Lebanon)</option>
<option>962 (Jordan)</option>
<option>963 (Syrian Arab Republic)</option>
<option>964 (Iraq)</option>
<option>965 (Kuwait)</option>
<option>966 (Saudi Arabia)</option>
<option>967 (Yemen)</option>
<option>968 (Oman)</option>
<option>971 (United Arab Emirates)</option>
<option>972 (Israel)</option>
<option>973 (Bahrain)</option>
<option>974 (Qatar)</option>
<option>975 (Bhutan)</option>
<option>976 (Mongolia)</option>
<option>977 (Nepal)</option>
<option>98 (Iran (Islamic Republic of))</option>
<option>992 (Tajikistan)</option>
<option>993 (Turkmenistan)</option>
<option>994 (Azerbaijan)</option>
<option>995 (Georgia)</option>
<option>996 (Kyrgyzstan)</option>
<option>998 (Uzbekistan)</option>