@{
    ViewBag.Title = "Dracula Cars | Cancellation & Refund Policy";
}

@Html.Partial("_LeftMenu")
<script>
    $('a#cancellation').html('<span class="right-arrow"></span>' + $('a#cancellation').html()).addClass('selected').parent().removeClass('collapsed').addClass('expanded').find('.collapsed').removeClass('collapsed').addClass('expanded');
</script>

<div class="client-page">

<h2>Your rights of cancellation & Charges</h2>

<ol>
    <li>Cancellations that are not informed of are deemed to be of the status ”NO SHOW” and will subject to a charge of 100%.</li>
    <li>Cancellation informed 24 hours or more prior to booked journey time are subject to a charge of £5.00 for a single journey booking and £10.00 for a return journey booking.</li>
    <li>Cancellations informed 6 to 24 hours prior to the booked journey time are subject to a charge of 25% of the quoted fare.</li>
    <li>Cancellation’s not informed up to 6 hours prior to the time of booking cancellation charge incurred 100% of quoted fare.</li>
    <li>For ASAP (As Soon as Possible) jobs and journeys which require more than 6 hours to dispatch the vehicle to be at pickup place, we reserve the right to charge 100% of quoted fare for the journey, unless the cancellation has been made prior to the dispatch of the vehicle.</li>
    <li>Vehicles that are booked by the client those are not suitable for the purpose for which they have been booked for will be subject to clause 8(e) and 9(e) of our Terms of Business.</li>
</ol>

<h2>“Cooling off” period</h2>
<p>This Section 2 applies if and only if you contract with us under these booking terms as a consumer according to our Terms of Business.</p>
<p>You may cancel your booking within 1 hour of booking your journey online, via email or over the phone in accordance with Section 3 of these booking terms, providing that your journey was not ASAP (as soon as possible) and or we have not dispatched the vehicle. The section 9 for cancellation rights will not apply and we will refund in full if you have paid already.</p>
<p>In order to cancel your booking on this basis you must write us an email or speak to the booking staff over the phone.</p>

<h2>Refunds</h2>
<p>If you cancel your booking and are entitled to a refund as in section 1 of this document, we will usually refund any money received from you using the same method originally used by you to pay for your booking. We will process the refund due to you within 24 hours of the time we received your valid notice of cancellation.</p>

<h2>Flight Delays</h2>
<p>We will not charge you for any flight delays and we are tracking your flight for actual landing time and our driver will be at the airport after your flight landed.</p>

<h2>Flight Cancellations</h2>
<p>If your flight is cancelled for any reason and you are traveling at a later date or time, you can always let us know and we can keep your booking on hold. There is no charge for this. If your flight is cancelled and you are not traveling anymore and want to cancel your booking in this case we will charge you £5.00 for a single journey booking and £10.00 for a return journey booking.</p>
<p>Please note in the following circumstances we will charge you according to our standard cancellation policy as explained in section 1 of our terms.</p>
<ol>
    <li>Where your airline is not displaying accurate information about the cancellation and we have sent the driver at the airport for your pickup. It is always better to let us know about the cancellation of your flight as soon as you know as you are the most up to date person while at the airport.</li>
    <li>For European flights cancellations we might charge you as per our standard terms in section 1 especially if you failed to inform us that your flight has been cancelled because in many circumstances there is no up to date information available at the airline website or at the airport website.</li>
</ol>
</div>