@{
    ViewBag.Title = "Dracula Cars | Safety Policy";
}

@Html.Partial("_LeftMenu")
<script>
    $('a#safety-policies').html('<span class="right-arrow"></span>' + $('a#safety-policies').html()).addClass('selected').parent().removeClass('collapsed').addClass('expanded').find('.collapsed').removeClass('collapsed').addClass('expanded');
</script>
<div class="client-page">


<h2>Objective</h2>
<p>Safety of our employees, customers, our drivers and anyone attached with our business is the core of our business objective.</p>

<h2>How we meet our objective?</h2>

<p>Licensed – We are fully licensed private hire operator based in London, officially licensed by Public Carriage Office, Transport for London and comply with all the requirements as set by PCO.</p>
<p>Drivers – All our drivers are also fully licensed by PCO (Public Carriage Office) fully vetted and CRB (Criminal Record Bureau) checked. We only worked with professional drivers who have years of experience in the industry and maintain high standards of service.</p>
<p>Vehicles – Most of our vehicles are under 3 years old and under goes an MOT (Motor Roadworthy Test) twice in a year, cleaned and maintained as required. Most of the vehicles in our fleet are Audi.</p>
<p>Complaints – The chances a complaint arising is minimum as we make sure to provide you the service as we agreed according to our terms of business. All complaints are dealt seriously by the management of the business and necessary action taken as required.</p>
<p>Booking Record – We keep the record of all the bookings including date, time, and destination and maintained in our encrypted servers.</p>
<p>Verbal & Physical Abuse – Customers are not allowed for any verbal & physical abuse to our drivers and booking admin staff. We will not tolerate any kind of abuse and necessary legal action will be taken as required. We can refuse to take any passenger which we think is a safety threat to himself, to the driver or anyone else.</p>

<h2>Insurance</h2>
<p>As a part of our licensing process with PCO, Transport for London we maintain our own Public Liability Insurance and all our drivers have their own PHV (Private Hire Insurance) for the vehicles they drive and passengers are fully covered for any claims arise because of an accident while traveling with Draculacars.</p>

</div>