@{
    ViewBag.Title = "Dracula Cars | Terms and Conditions";
}

@Html.Partial("_LeftMenu")
<script>
    $('a#terms').html('<span class="right-arrow"></span>' + $('a#terms').html()).addClass('selected').parent().removeClass('collapsed').addClass('expanded').find('.collapsed').removeClass('collapsed').addClass('expanded');
</script>

<div class="client-page">
<h2>Terms and Conditions</h2>
<p>You will be asked to expressly agree to these booking terms during your transportation booking process on our website. The only language in which we provide these booking terms is English.</p>
<h2>Interpretation</h2>

<ul>
    <li>“CLIENT” means the person who accepts a quotation or offer of the Provider for the sale of Services or whose order for the Services is accepted by the Provider;</li>
    <li>“PROVIDER” means Draculacars by Transport for London Public Carriage Office Licence No: xx/xx/xxxxx.</li>
    <li>“THE CONTRACT” means the contract for the provision of ground transfer services under these Conditions;</li>
    <li>“SERVICE” means the service of ground transport (including any instalment of the service or any multiple services) which the Provider is to supply in accordance with these Conditions;</li>
</ul>
<p>Any reference in these Conditions to a statute or a provision of a statute shall be construed as a reference to that statute or provision as amended, re-enacted or extended at the relevant time.</p>
<p>The interpretations in these Conditions are for convenience only and shall not affect their interpretation.</p>

<h2>Conditions</h2>
<p>Before booking a journey with us you are requested to read and accept our “Terms of Business” below.</p>
<ol>
    <li>The Provider (Draculacars) shall sell and the Client shall purchase the service in accordance with any quotation or offer of the Provider which is accepted by the Client, or any reservation of the Client which is accepted by the Provider, subject in either case to these Conditions, which shall govern the Contract to the exclusion of any other terms and conditions subject to which any such quotation is accepted or purported to be accepted, or any such reservation is made or purported to be made, by the Client.</li>
    <li>A contract will only come in to being upon the acceptance of the Provider of the reservation and the following conditions shall be deemed to be incorporated in the contract. The Client accepts these terms & conditions by placing a reservation, booking with the provider via but not limited to the providers; web site: www.draculacars.co.uk, via telephone, or via telephone booking agent.</li>
    <li>The Contract will be subject to these conditions. The provider reserves the right to revise these terms & conditions at any time without prior notice at its sole discretion. Any revised terms and conditions will be posted on the providers’ website and will come into effect 1 hour after posting.</li>
    <li>No reservation order submitted by the client shall be deemed to be accepted by the provider unless and until confirmed in writing by email telephone or otherwise by an authorized representative of the provider.</li>
    <li>The Provider reserves the right to make any changes in the specification of the services which are required to conform to any applicable safety or other statutory or regulatory requirements or, where the services are to be supplied to the Providers specifications, which do not materially affect their performance.</li>
    <li>Sub-contracting companies are not authorized to make any representations or claims concerning the service unless confirmed by the Provider in writing by email, telephone or otherwise. In entering into the Contract the client acknowledges that it does not rely on, and waives any claim for beach of, any such representations, which are not so confirmed.</li>
    <li>No variation to these Conditions shall be binding unless agreed in writing between the client and the provider.</li>
    <li>Sales literature, price lists and other documents issued by the provider in relation to the service may be subject to alteration.</li>
    <li>Any typographical, clerical or other accidental errors or omissions in any sales literature, quotation, price list, acceptance of offer, invoice or other document or information issued by the Provider shall be subject to correction without any liability on the part of the Provider.</li>
    <li>The price of the Service shall be the price listed in the Providers published price list current at the date of acceptance of the client’s reservation or such other price as may be agreed in writing by the provider and the client.</li>
    <li>Where the provider has quoted a price for the service other than in accordance with the Providers published price list the price quoted shall be valid for 24 hours only or such other time as the Provider may specify.</li>
    <li>The Provider reserves the right, by giving notice to the Client at any time before delivery, to increase the price of the service to reflect any increase in the cost to the provider which is due to any factor beyond the control of the provider (such as, without limitation, any foreign exchange fluctuation, currency regulation or alteration of duties, any change in delivery dates, quantities or specifications for the service which is requested by the Client, or any delay caused by any instructions of the Client or failure of the Client to give the Provider adequate information or instructions.</li>
    <li>The Provider reserves the right to use the services of contractors or sub-contractors (herein known as third parties) to provide services to Clients. Where appropriate details i.e. names, addresses of any such third parties will be provided by the Provider upon any reasonable request and at the discretion of the Provider.</li>
    <li>Reservations orders made for service on the following dates will be subject to an additional surcharge of 50% on published prices: 24, 25, 26, December & 1 January.</li>
    <li>A maximum time of 30 minutes for address collections & 90 minutes for airport, seaport collections will be allocated, whereupon non-contact with the client will classify the reservation to be a NO SHOW & will be subject to clauses 8(b) & 9(a).</li>
</ol>

<h2>Booking process</h2>
<p>The advertising of services on our website constitutes an “invitation to treat”; and your submission of a booking request for ground transportation service or services constitutes a contractual offer. No contract will come into force between you and us unless and until we accept your order in accordance with the procedure detailed below.</p>
<p>In order to enter into a contract to avail our ground transportation services advertised on this website, you will need to take the following steps:</p>
<ol>
    <li>you fill in your journey requirements on quotation page and select relevant vehicle and proceed to the check out;</li>
    <li>if you are a new customer, you must then create an account with us and log in; if you are an existing customer, you must enter your login details;</li>
    <li>once you are logged in, you must confirm your order and your consent to these booking terms;</li>
    <li>you will then be asked for payment details whether you are booking your journey as cash payment to the driver or want to pay now by credit card. we use SagePay to authorise your credit card from your bank or card issuer;</li>
    <li>the system will generate an automatic confirmation of your booking and it is confirmed booking unless we notice your payment has been declined or card details you have entered as security for cash booking is not correct or suspect anything about the accuracy of your booking;</li>
    <li>we might sometime cannot meet your booking requirement and cancel your booking and refund any payment made, unless we cancel your booking within 24 hours of your online booking it will become a binding contract. Clause No. 14 “Force majeure” will still apply.</li>
</ol>
<p>We will not file a copy of these booking terms specifically in relation to your booking. We may update the version of these booking terms on the website from time to time, and we do not guarantee that the version you have agreed to will remain accessible. We therefore recommend that you download, print and retain a copy of these booking terms for your records.</p>
<p>The only language in which we provide these booking terms is English.</p>
<p>Before you confirm your order, you will have the opportunity of identifying whether you have made any input errors. You may correct those input errors before confirming your order by amending your booking information.</p>

<h2>Services</h2>
<p>We provide airport transfers, executive and elite chauffeur driven cars, coach services, group transfers, London tours, day hire and as directed private hire services</p>

<h2>Price and paymen</h2>
<p>Prices for services are quoted on our website. However, it is always possible that some of the prices on the website may be incorrect. We will verify prices as part of our online booking procedures so that correct price will be stated when you pay online for any bookings. Our quote engine is complex and relies on many third party services to display a correct quote. In rare circumstances, our system calculate price incorrectly because one of services is unavailable and our system display an incorrect quote to you. We always check any online bookings details including the price and if we realize that price quoted to you was incorrect, we will inform you and ask for additional payment or cancel your booking.</p>
<p>Payment must be made in full for Pay by card discounted (Pay Now) bookings. For Pay in cash (Pay Later) bookings we still require your card details as a security and will check the authenticity of your information.</p>
<p>We do not charge VAT on cash and credit/debit card bookings.</p>
<p>For Private and Business credit invoice accounts we will add VAT on all bookings.</p>
<p>Prices are liable to change at any time, but changes will not affect contracts which have come into force.</p>

<h2>Warranties</h2>
<p>We warrant that the services provided under these booking terms will be provided with reasonable skill and care.</p>
<p>You warrant and represent to us that:</p>
<ol>
    <li>You are legally capable of entering into binding contracts, and you have full authority, power and capacity to agree to these booking terms;</li>
    <li>The information provided in or in connection with your booking request is accurate and complete;</li>
    <li>You are at least 18 years of age.</li>
</ol>

<h2>Terms of Carriage</h2>
<ol>
    <li>The Providers (herein known as Draculacars) prices are based on clients (herein known as passengers) being ready to travel at the booked time and date. Clients must book their ground transfer in accordance with check in times and guidelines provided by their relevant air or cruise line.</li>
    <li>All meets apart from airports waiting time are free for the first 10 minutes; thereafter you will be charged 6 pounds every 15 minutes on the entire waiting time. Airport and Seaport collections: 60 minutes free waiting time from the time of actual landing of your flight is included in the price, additional free waiting time can be requested at time of booking, otherwise you will be charged 6 pounds for every 15 minutes waiting after the free 60 minutes for airport pickups. There is no additional charge for flight delays.</li>
    <li>Fares quoted are flat rates. Any diversions, additional set downs or pickups by passengers will incur a minimum charge of £5.00 per diversion. Fares quoted that are not booked will have a validity of 24 hours. Draculacars reserves the right of altering any prices without prior notification however quotations on confirmed bookings will be binding. Clause No. 6 “Price and Payment” still apply.</li>
    <li>Neither Draculacars nor any of its contracted or sub-contracted drivers will accept responsibility for loss or damage to luggage. Clients are responsible for ensuring that their luggage is loaded/unloaded at all times, if accompanying the luggage on the journey. Draculacars & or its contracted or sub-contracted drivers have the right to refuse any passenger or to make the journey due to the passenger having excess luggage which would result in the vehicle being unsafe whilst in motion.</li>
    <li>Vehicles are booked by clients as requested. Standard and Estate/MPV cars carry a maximum of 4 passengers & luggage. Vehicles to carry a larger number of passengers & luggage are available & are to be booked as required, (for luggage limitations, vehicle types and relevance view vehicles).</li>
    <li>Damage to vehicles caused by passengers due to soiling is chargeable at the rate of £60.00 (GBP) in cash at the time of instance by the driver.</li>
</ol>

<h2>Your rights of cancellation & Charges</h2>
<ol>
    <li>Reservations that have been accepted and confirmed by the Provider may be cancelled by the Client by telephone on: 0044 (0) xx xxxx xxxx or email at contact@draculacars.co.uk. Vehicles that are cancelled by client after reservation acceptance by the provider shall incur a cancellation charge.</li>
    <li>Cancellations that are not informed of are deemed to be of the status ”NO SHOW” and will subject to a charge of 100%.</li>
    <li>Cancellation informed 24 hours or more prior to booked journey time are subject to a charge of £5.00 for a single journey booking and £10.00 for a return journey booking.</li>
    <li>Cancellations informed 6 to 24 hours prior to the booked journey time are subject to a charge of 25% of the quoted fare.</li>
    <li>Cancellation’s not informed up to 6 hours prior to the time of booking cancellation charge incurred: 100% of quoted fare.</li>
    <li>For ASAP (As Soon as Possible) jobs and journeys which require more than 6 hours to dispatch the vehicle to be at pickup place, we reserve the right to charge 100% of quoted fare for the journey, unless the cancellation has been made prior to the dispatch of the vehicle.</li>
    <li>Vehicles that are booked by the client those are not suitable for the purpose for which they have been booked for will be subject to clause 8(e) and 9(e).</li>
</ol>

<h2>“Cooling off” period</h2>
<p>This Section 10 applies if and only if you contract with us under these booking terms as a consumer.</p>
<p>You may cancel your booking within 1 hour of booking your journey online, via email or over the phone in accordance with Section 3 of these booking terms, providing that your journey was not ASAP (as soon as possible) and or we have not dispatched the vehicle. The section 9 for cancellation rights will not apply and we will refund in full if you have paid already.</p>
<p>In order to cancel your booking on this basis you must write us an email or speak to the booking staff over the phone.</p>

<h2>Consumer rights</h2>
<p>If you are a consumer, any statutory rights which you have, which cannot be excluded or limited, will not be affected by these booking terms</p>

<h2>Refunds</h2>
<p>If you cancel your booking and are entitled to a refund as in section 9 of this document, we will usually refund any money received from you using the same method originally used by you to pay for your booking. We will process the refund due to you within 24 hours of the time we received your valid notice of cancellation.</p>

<h2>Limitations and exclusions of liability</h2>

<p>Nothing in the booking terms will: (a) limit or exclude the liability of a party for death or personal injury resulting from negligence; (b) limit or exclude the liability of a party for fraud or fraudulent misrepresentation by that party; (c) limit any liability of a party in any way that is not permitted under applicable law; or (d) exclude any liability of a party that may not be excluded under applicable law. If you are a consumer, any statutory rights which you have, which cannot be excluded or limited, will not be affected by the online booking terms.</p>
<p>The limitations and exclusions of liability set out in this Section and elsewhere in the booking terms: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the booking terms or in relation to the subject matter of the booking terms, including liabilities arising in contract, in tort including negligence and for breach of statutory duty.</p>

<ul>
    <li>We will not be liable to you in respect of any losses arising out of a force majeure event.</li>
    <li>We will not be liable to you in respect of any business losses, such as loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.</li>
    <li>If you are a business customer, we will not be liable to you in respect of any loss or corruption of any data, database or software.</li>
    <li>If you are a business customer, we will not be liable to you in respect of any special, indirect or consequential loss or damage.</li>
    <li>If you are a business customer, our aggregate liability to you under the booking terms will not exceed the greater of: (a) amount; and (b) the total amount paid or (if greater) payable by you to us under the booking terms.</li>
</ul>

<h2>Force majeure</h2>
<p>In this Section and Section 13, “force majeure event” means any event which is beyond our reasonable control.</p>
<p>Without prejudice to the generality of the foregoing, the following shall be regarded as causes beyond the Providers reasonable control directly or indirectly:</p>
<ol>
    <li>ct of God, explosion, flood, tempest, fire or accident;</li>
    <li>war or threat of war, sabotage, insurrection, act of terrorism, civil disturbance or requisition;</li>
    <li>acts, restrictions, regulations, bye-laws, prohibitions or measures of any kind on the part of any governmental, parliamentary or local authority;</li>
    <li>traffic accidents, traffic hold ups, traffic congestion, Vehicle breakdown;</li>
    <li>strikes, lockouts or other industrial actions or trade disputes (whether involving employees of the Provider or of a third party);</li>
    <li>flight delays, flight cancellations, early arrivals;</li>
    <li>power failure or breakdown in machinery including vehicles and computer systems.</li>
</ol>

<p>Where a force majeure event gives rise to a failure or delay in us performing our obligations under these terms and conditions, those obligations will be suspended for the duration of the force majeure event.</p>

<h2>Business customer indemnity</h2>
<p>This Section 15 applies if and only if you contract with us under these booking terms in the course of a business.</p>
<p>This Section 15 applies if and only if you contract with us under these booking terms in the course of a business.</p>
<p>You hereby indemnify us and undertake to keep us indemnified against all and any liabilities, losses, damages, expenses and costs (including legal expenses and amounts paid in settlement of any demand, action or claim) arising, directly or indirectly, out of a breach by you of any of your obligations under these booking terms.</p>

<h2>General terms</h2>
<p>We will treat all your personal information that we collect in connection with your order in accordance with the terms of our privacy policy; use of our website will be subject to our website terms of use.</p>
<p>Contracts under these booking terms may only be varied by an instrument in writing signed by both you and us. We may revise these booking terms from time-to-time, but such revisions will not affect the terms of any prior bookings which we have entered into with you. If any provision of these booking terms is held invalid or unenforceable by a court of competent jurisdiction, the remaining provisions will remain in full force and effect, and such invalid or unenforceable provisions or portion thereof will be deemed omitted.</p>
<p>No waiver of any provision of these booking terms, whether by conduct or otherwise, in any one or more instances, will be deemed to be, or be construed as, a further or continuing waiver of that provision or any other provision of these booking terms.</p>
<p>You may not assign charge, sub-contract or otherwise transfer any of your rights or obligations arising under these booking terms. Any attempt by you to do so will be null and void. We may assign, charge, sub-contract or otherwise transfer any of our rights or obligations arising under these booking terms, at any time – providing, where you are a consumer that such action does not serve to reduce the guarantees benefiting you under these booking terms.</p>
<p>Each contract under these booking terms is made for the benefit of the parties to it and is not intended to benefit, or be enforceable by, any other person. The right of the parties to terminate, rescind, or agree any amendment, variation, waiver or settlement under such contracts is not subject to the consent of any person who is not a party to the relevant contract.</p>
<p>Subject to the first paragraph of Section 13: these booking terms contain the entire agreement and understanding of the parties in relation to services booked on our website, and supersede all previous agreements and understandings between the parties in relation to services booked on our website; and each party acknowledges that no representations not expressly contained in these booking terms have been made by or on behalf of the other party in relation to the booking of services on our website.</p>
<p>These booking terms will be governed by and construed in accordance with English law, and the courts of England and Wales will have non-exclusive jurisdiction to adjudicate any dispute arising under or in relation to these booking terms.</p

</div>