@{
    ViewBag.Title = "Airport Transfers";
}

<h2>Airport Transfers</h2>

<ol>
    <li><a href="/AirportTransfers/Heathrow">Heathrow Airport</a></li>
    <li><a href="/AirportTransfers/City">City Airport</a></li>
    <li><a href="/AirportTransfers/Gatwick">Gatwick Airport</a></li>
    <li><a href="/AirportTransfers/Stansted">Stansted Airport</a></li>
    <li><a href="/AirportTransfers/Luton">Luton Airport</a></li>
</ol>

<div style="text-align:center;">
    <a href="/book"><img src="/content/img/dracula/book-journey.png" style="border-radius: 4px;"></a>
</div>