<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="CabDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CabData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UKPostCodesPro_DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UKPostCodesPro_Data;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UKPostCodesPro_DataConnectionString1" connectionString="Data Source=draculacars.com;Initial Catalog=UKPostCodesPro_Data;Persist Security Info=True;User ID=alindracula;Password=Muaz0077"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>


      <add key="MerchantID" value="DRACUL-5866001"/>
      <add key="Password" value="draculacarS1212"/>
      <add key="SiteSecureBaseURL" value="https://www.draculacars.co.uk/Payment/"/>
      <add key="PaymentProcessorDomain" value="paymentsensegateway.com"/>
      <add key="PaymentProcessorPort" value="4430"/>
  </appSettings>
    
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
          <add namespace="AlinTuriCab.Models"/>
          <add namespace="AlinTuriCab.Helpers"/>
      </namespaces>
    </pages>

      <authentication mode="Windows"/>
      <customErrors mode="Off"></customErrors>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
	
	<rewrite><rules>
		<rule name="HTTP to HTTPS redirect" stopProcessing="true">
			<match url="(.*)" />
			<conditions>
				<add input="{HTTPS}" pattern="off" ignoreCase="true" />
			</conditions>
			<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
		</rule></rules>
	</rewrite>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
