@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
 		<meta charset="UTF-8">
        <title>Draculacars</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="/stylesheet" href="css/responsiveslides.css" />
        <link href="/css/style.css" rel="stylesheet" media="screen">

        <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
        <script src="@Url.Content("~/Scripts/common.js")"></script>
    </head>
    <body class="page">
            
        <div class="header">
            <div class="header-content">
                <div class="container">
                    <a href="/"><img src="/img/logo.png" alt="draculacars-logo"/></a>
                    <ul id="main-menu-top" class="nav nav-pills pull-right">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="open-an-account.html">Open An Account</a></li>
                        <li><button class="btn btn-danger" onClick="location.href='login.html'" type="button">Login</button></li>
                        <li><button class="btn" onClick="location.href='qoute.html'" type="button">Quote</button></li>
                    </ul>
                    <!--div id="bogusClock"></div-->
                    <div class="clock">
                        <div id="Date"></div>
                        <ul class="clock-list">
                            <li id="hours"></li>
                            <li id="point">:</li>
                            <li id="min"></li>
                            <li id="point">:</li>
                            <li id="sec"></li>
                        </ul>
                    </div>
                </div>
            
        
                <div class="main-menu">
                    <div class="container">
                        <ul id="main-menu" class="nav nav-pills">
                            <li>
                                <a href="about-us.html">Dracula cars</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="/about-us.html">Company</a></li>
                                            <li><a href="about-us.html">About us</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="online.html">Technology</a></li>
                                            <li><a href="/online.html">Online</a></li>
                                            <li><a href="/mobile.html">Mobile</a></li>
                                            <li><a href="/telephone.html">Telephone</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="/menu-title"><a href="tfl.html">Accreditation</a></li>
                                            <li><a href="/tfl.html">TFL</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="terms-and-condition.html">Policies</a></li>
                                            <li><a href="/terms-and-condition.html">Terms & Condition</a></li>
                                            <li><a href="/cancellation-and-refund.html">Cancellation & Refund</a></li>
                                            <li><a href="/safety-policies.html">Safety Policies</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="heathrow.html">Services</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="floater-holder">
                                                <a href="heathrow.html">Airport transfers</a>
                                                <ul>
                                                    <li><a href="/heathrow.html">Heathrow Airport</a></li>
                                                    <li><a href="/london-city.html">London City Airport</a></li>
                                                    <li><a href="/gatewick.html">Gatewick Airport</a></li>
                                                    <li><a href="/stansted.html">Stansted Airport</a></li>
                                                    <li><a href="/luton.html">Luton Airport</a></li>
                                                </ul>
                                            </li>
                                            <li class="floater-holder">
                                                <a href="canary-wharf.html">Area of Operation</a>
                                                <ul>
                                                    <li><a href="/canary-wharf.html">Canary Wharf</a></li>
                                                    <li><a href="/kensington.html">Kensington</a></li>
                                                    <li><a href="/ladbroke-grove.html">Ladbroke Grove</a></li>
                                                    <li><a href="/maida-vale.html">Maida Vale</a></li>
                                                    <li><a href="/all-over-london.html">All over London</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/corporate-executive-hire.html">Corporate Executive Hire</a></li>
                                            <li><a href="/vip-chaffeur.html">Vip Chaffeur</a></li>
                                            <li><a href="/as-direct-journey.html">As Direct Journey</a></li>
                                         </ul>
                                     </li>                                     
                                </ul>
                            </li>
                            <li>
                                <a href="open-an-account.html">Account</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">                     
                                            <li><a href="personal-step-1.html">Personal Account</a></li>
                                            <li><a href="business-account.html">Business</a></li>
                                         </ul>
                                     </li>                                     
                                </ul>
                            </li>
                            <li><a href="our-team.html">Our team</a></li>
                            <li>
                                <a href="career.html">Careers</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">                     
                                            <li><a href="driver-job.html">Driver Job</a></li>
                                         </ul>
                                     </li>                                     
                                </ul>
                            </li>
                            <li><a href="#">News</a></li>
                        </ul>
                        <div class="top-service pull-right">
                            <a href="top-service.html">> 24 Hour Pre-Book <</a>
                        </div>
                        
                    </div>
                    <div id="floating-menu"></div>
                </div>
                
             </div>
        </div>
        
        <div class="main-content">
            <div class="container">
                <img src="img/top-banner/login.jpg">
                <div class="content-box"> 
                    <div class="login-form">       
                        <div class="well">
                            <div id="login-section" class="login-section well" style="margin: 0;border: 0;">
                                @Html.AntiForgeryToken()
		                        <h2 class="3D-background">Login</h2>
		                        <div>
			                        <label for="login-email">Email</label>
			                        <input id="login-email" type="text">
		                        </div>
		                        <div>
			                        <label for="login-password">Password</label>
			                        <input id="login-password" type="password">
		                        </div>
		                        <div id="login-now" class="btn btn-primary">Login!</div>
	                        </div>
                        </div>
                        <div class="well">
                            <form>
                                <legend>Business Login</legend>
                                <label>Full Name</label>
                                <input type="text" placeholder="Type name here…" style="width:300px;">
                                <label>Mobile Number</label>
                                <input type="text" placeholder="Type e-mail here…" style="width:300px;"></br>
                                <button type="button" onClick="location.href='after-login.html'" class="btn btn-primary">Login</button>
                                <a href="#">Forgot Password?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <footer>
                <div class="container">
                    <ul class="nav nav-pills">
                     	<li><a href="about-us.html">Dracula Cars</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="terms-and-condition.html">Terms</a></li>
                        <div class="social-network">
                            <p>Find us:</p>
                            <a href="http://www.facebook.com/pages/Dracula-Cars-Ltd/534656633212380" target="blank"><img src="img/social-logo/f.png"></a>
                            <a href="https://twitter.com/draculacar" target="blank"><img src="img/social-logo/twitter.png"></a>
                            <a href="#" target="blank"><img src="img/social-logo/gplus.png"></a>
                        </div>
                    </ul>
                    <p> 
                        <strong>
                            Dracula Cars is a trading name of Dracula Cars Ltd.
                        </strong></br>
                        Company Registartion Number: 08227211 | Operator Licence: 08146/01/01</br>
                        Copyright 2012 @@ <a href="http://www.draculacars.co.uk">Draculacars.co.uk</a> | All rights reserved.
                    </p>
                    <div class="bogus">Developed by <a title="We design. We develop your site" href="http://www.webogus.com">webogus</a></div>
                    </div>
            </footer>
        
        <div class="hidden-fields spinner"></div>


    <script src="/js/common.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slider/slider-js.js"></script>
    <script src="/js/slider/responsiveslides.min.js"></script>
        

         <script>
             function loggingin() {
                 var elem = getEmptyElement('login-email, login-password');
                 if (elem !== true) return;

                 loadSpinner('#login-section');

                 var data = {
                     email: $('#login-email').val(),
                     password: $('#login-password').val(),
                     __RequestVerificationToken: $('#login-section').find('[name="__RequestVerificationToken"]').val()
                 };

                 $.post('/Account/Login', data, function (response) {
                     loginResponse = response;

                     if (response != false) {
                         location = '/Client/';
                     }
                 });
             }

             $('#login-email').change(function () {
                 $('#login-password').focus();
             });
             $('#login-password').change(loggingin);

             $('#login-now').click(loggingin);
</script>

    </body>

</html>