@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
    <head>
 		<meta charset="UTF-8">
        <title>Draculacars</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="/stylesheet" href="css/responsiveslides.css" />
        <link href="/css/style.css" rel="stylesheet" media="screen">

        <script src="/Scripts/jquery.min.js"></script>
        <script src="/Scripts/common.js"></script>
    </head>
    <body class="page">
            
        <div class="header">
            <div class="header-content">
                <div class="container">
                    <a href="index.html"><img src="/img/logo.png" alt="draculacars-logo"/></a>
                    <ul id="main-menu-top" class="nav nav-pills pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li class="active"><a href="open-an-account.html">Open An Account</a></li>
                        <li><button class="btn btn-danger" onClick="location.href='login.html'" type="button">Login</button></li>
                        <li><button class="btn" onClick="location.href='qoute.html'" type="button">Qoute</button></li>
                    </ul>

                    <div class="clock">
                        <div id="Date"></div>
                        <ul class="clock-list">
                            <li id="hours"></li>
                            <li id="point">:</li>
                            <li id="min"></li>
                            <li id="point">:</li>
                            <li id="sec"></li>
                        </ul>
                    </div>
                </div>
            
        
                <div class="main-menu">
                    <div class="container">
                        <ul id="main-menu" class="nav nav-pills">
                            <li>
                                <a href="about-us.html">Dracula cars</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="about-us.html">Company</a></li>
                                            <li><a href="about-us.html">About us</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="online.html">Technology</a></li>
                                            <li><a href="online.html">Online</a></li>
                                            <li><a href="mobile.html">Mobile</a></li>
                                            <li><a href="telephone.html">Telephone</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="tfl.html">Accreditation</a></li>
                                            <li><a href="tfl.html">TFL</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="menu-title"><a href="terms-and-condition.html">Policies</a></li>
                                            <li><a href="terms-and-condition.html">Terms & Condition</a></li>
                                            <li><a href="cancellation-and-refund.html">Cancellation & Refund</a></li>
                                            <li><a href="safety-policies.html">Safety Policies</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="heathrow.html">Services</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">
                                            <li class="floater-holder">
                                                <a href="heathrow.html">Airport transfers</a>
                                                <ul>
                                                    <li><a href="heathrow.html">Heathrow Airport</a></li>
                                                    <li><a href="london-city.html">London City Airport</a></li>
                                                    <li><a href="gatewick.html">Gatewick Airport</a></li>
                                                    <li><a href="stansted.html">Stansted Airport</a></li>
                                                    <li><a href="luton.html">Luton Airport</a></li>
                                                </ul>
                                            </li>
                                            <li class="floater-holder">
                                                <a href="canary-wharf.html">Area of Operation</a>
                                                <ul>
                                                    <li><a href="canary-wharf.html">Canary Wharf</a></li>
                                                    <li><a href="kensington.html">Kensington</a></li>
                                                    <li><a href="ladbroke-grove.html">Ladbroke Grove</a></li>
                                                    <li><a href="maida-vale.html">Maida Vale</a></li>
                                                    <li><a href="all-over-london.html">All over London</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="corporate-executive-hire.html">Corporate Executive Hire</a></li>
                                            <li><a href="vip-chaffeur.html">Vip Chaffeur</a></li>
                                            <li><a href="as-direct-journey.html">As Direct Journey</a></li>
                                         </ul>
                                     </li>                                     
                                </ul>
                            </li>
                            <li>
                                <a href="open-an-account.html">Account</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">                     
                                            <li><a href="personal-step-1.html">Personal Account</a></li>
                                            <li><a href="business-account.html">Business</a></li>
                                         </ul>
                                     </li>                                     
                                </ul>
                            </li>
                            <li><a href="our-team.html">Our team</a></li>
                            <li>
                                <a href="career.html">Careers</a>
                                <ul class="sub-menus">
                                    <li>
                                        <ul class="sub-menu">                     
                                            <li><a href="driver-job.html">Driver Job</a></li>
                                         </ul>
                                     </li>                                     
                                </ul>
                            </li>
                            <li><a href="#">News</a></li>
                        </ul>
                        <div class="top-service pull-right">
                            <a href="top-service.html">> 24 Hour Pre-Book <</a>
                        </div>
                        
                    </div>
                    <div id="floating-menu"></div>
                </div>
                
             </div>
        </div>
        
        <div class="main-content">
            <div class="container">
                <div class="content-box">        
                    <div class="content-menu span3">
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a href="/open-an-account.html">Registration</a>
                                <ul class="side-menu">
                                    <li class="active"><a href="/personal-step-1.html">Personal Account</a></li>
                                    <li><a href="/business-account.html">Business Account</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="about-content">


                    <style>
                        .highlight { background:#DF8E8E; }
                        .spinner
                        {
	                        background-color: rgba(0, 0, 0, .8);
	                        background-image: url('images/spinner.gif');
	                        background-repeat: no-repeat;
	                        background-position: 50%;
	                        position:absolute;
	                        z-index: 100;
                        }
                    </style>

                    <div id="your-details" style="display:none;">
                        <h3>Your Details</h3>
                        <img src="/img/steps-3.png">
                        <ul id="preview-ul"></ul>
                        Please check all you details and confirm.
                        <button id="signup-button" type="button" class="btn btn-primary">Confirm</button>
                    </div>
                        
                            

                        <form id="input-form">
                            <fieldset>
                                <h3>Contact Details</h3>
                                <img src="/img/steps-2.png">
                                <div class="controls controls-row span4">
                                    <label for="signup-name" class="required">Full Name</label>
                                    <input id="signup-name" type="text" value="@ViewBag.Name">
                                    
                                    <label for="signup-cell-phone" class="required">Phone number</label>
                                    <input id="signup-cell-phone" type="text" accesskey="phone">

                                    <label for="signup-email" class="required">Email</label>
                                    <input id="signup-email" type="text" accesskey="email">

                                    <label for="signup-password" class="required">Password</label>
                                    <input id="signup-password" type="password">

                                    <label for="signup-repeat-password" class="required">Repeat Password</label>
                                    <input id="signup-repeat-password" type="password">
                                </div>
                                <div class="controls controls-row span4">
                                    <label for="signup-address" class="required">Address</label>
                                    <input id="signup-address" type="text">

                                    <label for="signup-state">State</label>
                                    <input id="signup-state" type="text">

                                    <label for="signup-city" class="required">City</label>
                                    <input id="signup-city" type="text">

                                    
                                    <label for="signup-postal-code" class="required">Postcode</label>
                                    <input id="signup-postal-code" type="text">

                                    <label for="signup-country" class="required">Country</label>
                                    <input id="signup-country" type="text">
                                </div>
                                <div>
                                    <a href="/personal-step-1.html">Back</a>
                                    <button id="preview" type="button" class="btn btn-primary">Next</button>
                                </div>
                            </fieldset>
                        </form>


<script>
    $('#preview').click(function () {
        var elem = getEmptyElement('signup-email, signup-password, signup-repeat-password, signup-name, signup-cell-phone, signup-postal-code, signup-address, signup-city, signup-country');
        if (elem !== true) return;

        if (!isValidPhoneNumber($('#signup-cell-phone'))) return;

        if ($('#signup-repeat-password').val() !== $('#signup-password').val()) {
            alertBox('Your password MUST match the repeat password!');
            highlight('#signup-repeat-password');
            return;
        }


        $('#input-form').hide();

        $('#your-details').slideDown();

        var previewUL = $('#preview-ul')[0];
        previewUL.innerHTML += '<li>' + $('#signup-name').val() + '</li>';
        previewUL.innerHTML += '<li>' + $('#signup-cell-phone').val() + '</li>';
        previewUL.innerHTML += '<li>' + $('#signup-email').val() + '</li>';
        previewUL.innerHTML += '<li>' + $('#signup-address').val() + '</li>';
        previewUL.innerHTML += '<li>' + $('#signup-state').val() + '</li>';
        previewUL.innerHTML += '<li>' + $('#signup-city').val() + '</li>';
        previewUL.innerHTML += '<li>' + $('#signup-country').val() + '</li>';
    });

    var signupCallback, signupResponse;

    var phoneRegex = /^[0-9 ]{1,15}$/;
    function isValidPhoneNumber(element) {
        var value = $(element).val();
        if (!phoneRegex.test(value)) {
            alertBox('You must enter a valid phone number!\nMust be less than 15 digits.\nMust be numbers.\n\nYou can use spaces too!');
            highlight($(element));
            return false;
        }
        return true;
    }

    function signupButtonClick() {
        var elem = getEmptyElement('signup-email, signup-password, signup-repeat-password, signup-name, signup-cell-phone, signup-postal-code, signup-address, signup-city, signup-country');
        if (elem !== true) return;

        if (!isValidPhoneNumber($('#signup-cell-phone'))) return;

        if ($('#signup-repeat-password').val() !== $('#signup-password').val()) {
            alertBox('Your password MUST match the repeat password!');
            highlight('#signup-repeat-password');
            return;
        }

        var data = {
            name: $('#signup-name').val(),
            email: $('#signup-email').val(),
            password: $('#signup-password').val(),
            address: $('#signup-address').val(),
            postalCode: $('#signup-postal-code').val(),
            state: $('#signup-state').val() || '',
            city: $('#signup-city').val(),
            country: $('#signup-country').val(),
            cellPhone: $('#signup-cell-phone').val()
        };

        loadSpinner('#signup-button');

        $.post('/Client/New', data, function (response) {
            if (!response.error) {
                alertBox('Dear ' + response.name + ', thanks for creating new account with us. We\'ve sent you a confirmation email. Please check your email: ' + response.email);
                location = '/Client/';
            }
            else {
                alertBox(response.error);
                if (response.isEmailError == false) {
                    $('#signup-email').focus();
                    $('.spinner').fadeOut();
                }
                else location = '/Client/';
            }
        });
    }
    $('#signup-button').click(signupButtonClick);

    $('#signup-email, #signup-cell-phone').bind('blur changed', function () {
        var value = $(this).val(),
                    element = $(this);

        if (!value.length) return;

        var data = {
            field: $(this).attr('accesskey'),
            value: value
        };

        $.post('/Client/Verify', data, function (response) {
            if (response.error) {
                alertBox(response.error);
                highlight(element);
            }
            if (response.alreadyBooked) {
                if (data.field == 'email') {
                    alertBox('This email address (' + response.email + ') already booked ' + response.total + ' jobs with us.');

                    if (response.cell) $('#signup-cell-phone').val(response.cell);
                    else if (response.cell) $('#signup-cell-phone').val(response.landline);
                }
                if (data.field == 'phone') {
                    alertBox('This phone number (' + (response.cell || response.landline) + ') already booked ' + response.total + ' jobs with us.');
                    if (!$('#signup-email').val().length) $('#signup-email').val(response.email);
                }

                if (!$('#signup-name').val().length) $('#signup-name').val(response.name);
            }
        });
    });

    $('#signup-repeat-password').bind('blur change', function () {
        if ($(this).val() !== $('#signup-password').val()) {
            alertBox('Your password MUST match the repeat password!');
            return;
        }
    });
</script>












                        </form>
                        

                    </div>
                    
                </div>
            </div>
        </div>


            <footer>
                <div class="container">
                    <ul class="nav nav-pills">
                     	<li><a href="about-us.html">Dracula Cars</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="terms-and-condition.html">Terms</a></li>
                        <div class="social-network">
                            <p>Find us:</p>
                            <a href="http://www.facebook.com/pages/Dracula-Cars-Ltd/534656633212380" target="blank"><img src="img/social-logo/f.png"></a>
                            <a href="https://twitter.com/draculacar" target="blank"><img src="img/social-logo/twitter.png"></a>
                            <a href="#" target="blank"><img src="img/social-logo/gplus.png"></a>
                        </div>
                    </ul>
                    <p> 
                        <strong>
                            Dracula Cars is a trading name of Dracula Cars Ltd.
                        </strong></br>
                        Company Registartion Number: 08227211 | Operator Licence: 08146/01/01</br>
                        Copyright 2012 @@ <a href="http://www.draculacars.co.uk">Draculacars.co.uk</a> | All rights reserved.
                    </p>
                    <div class="bogus">Developed by <a title="We design. We develop your site" href="http://www.webogus.com">webogus</a></div>
                    </div>
            </footer>
        



    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slider/slider-js.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/slider/responsiveslides.min.js"></script>
        

    </body>

</html>